@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --white-color: #fbfbfe;
    --black-color: #050315;
    --home-bg: rgb(211, 248, 211);
    --primary-color: #53c370;
    --secondary-color: #8adfa0;
    --terciary-color: #59dd7b;
    --gray-color: rgba(128, 128, 128, 0.215);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    color: var(--black-color);
    background-color: var(--white-color);
}

/* Home - Css */

.special {
    color: var(--primary-color);
}

::-webkit-scrollbar {
    width: 1.2rem; /* largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color); /* cor do preenchimento da barra de rolagem */
    border-radius: 1rem; 
    border: none; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* cor de fundo do trilho da barra de rolagem */
    border-radius: 1rem; /* bordas arredondadas para o trilho */
}

header {
    z-index: 1;
    display: flex;
    position: fixed;
    top: 0;
    min-width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem;
    background-color: var(--white-color);
    border-bottom: 0.2rem solid var(--gray-color);
}

#logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--black-color);
}

#logo a h1 {
    margin-left: 1rem;
}

#logo a .bi {
    font-size: 2rem;
    color: var(--primary-color);
}

#menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    list-style: none;
}

#menu ul li a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 2rem;
    position: relative;
}

.user .bi.bi-person-circle {
    text-align: center;
    padding: 0.4rem;
    font-size: 3.5rem;
    transition: all 1s ease;
    margin-top: 0.8rem;
    color: var(--black-color);
}

.user .bi.bi-person-circle:hover {
    background-color: var(--gray-color);
    border-radius: 50%;
}

#menu ul li .user:hover::after{
    min-width: 0;
}

#menu ul li a::after {
    content: '';
    position: absolute;
    height: 0.4rem;
    min-width: 0;
    background-color: var(--primary-color);
    top: 2.5rem;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease-in;
}

#menu ul li a:hover::after {
    min-width: 100%;
}

main {
    margin-top: 5.3rem;
}

#home {
    min-height: 60vh;
    background-color: var(--home-bg);
    background: linear-gradient(var(--home-bg)93%, var(--white-color) 7%);
    position: relative;
}

.content-home {
    margin: 0 auto;
    min-height: 60vh;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.home-write {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 2rem 6rem;
}

.home-write h1 {
    margin-bottom: 2rem;
    position: relative;
}

.home-write h1::after {
    content: '';
    position: absolute;
    height: 0.5rem;
    width: 11.5rem;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
}

.home-write p {
    text-align: center;
    line-height: 1.5;
}

.home-write a {
    margin-top: 2rem;
    background-color: var(--black-color);
    color: var(--white-color);
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.home-write a:hover {
    background-color: #050315b5;
}

.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.home-img img {
    max-width: 60vh;
}

#profissionais{
    box-shadow: 1rem 1rem var(--black-color);
    margin: 0 auto;
    max-width: 80%;
    min-height: 10rem;
    background-color: var(--white-color);
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#profissionais h3 {
    color: var(--black-color);
    font-size: 2.5rem;
    font-weight: bold;
}

#profissionais form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profissionais form label {
    font-size: 2rem;
}

#profissionais form input {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border: 0.2rem solid var(--gray-color);
    background-color: var(--gray-color);
    outline: none;
}

#profissionais form input:focus {
    border: 0.2rem solid var(--black-color);
}

#profissionais form button {
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    color: var(--white-color);
    border: 0.2rem solid var(--secondary-color);
    cursor: pointer;
    font-weight: bold;
    margin-left: 2rem;
    min-width: 15rem;
    transition: all 0.4s ease-in-out;
}

#profissionais button:hover {
    background-color: var(--secondary-color);
}

#comunidade {
    min-height: 60vh;
    margin: 2rem auto 0;
    background-color: var(--white-color);
}

.comunidade-content {
    max-width: 90%;
    min-height: 60vh;
    padding: 2rem 3rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.comunidade-img {
    max-height: 60vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comunidade-img img {
    max-width: 60vh;
}

.comunidade-write {
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comunidade-write h1 .special {
    color: var(--primary-color);
}

.comunidade-write p{
    margin-top: 2rem;
    line-height: 1.5;
}

.comunidade-write a {
    margin-top: 3rem;
    padding: 1rem 2rem;
    background-color: var(--secondary-color);
    border-radius: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--black-color);
    transition: all 0.4s ease-in-out;
}

.comunidade-write a:hover {
    background-color: var(--terciary-color);
    color: var(--white-color);
}

#artigos {
    min-height: 80vh;
    background-color: var(--white-color);
}

.artigos-content {
    min-height: 80vh;
    max-width: 90%;
    margin: 0 auto;
}

.artigos-grid {
    margin: 3rem 0 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem;
    text-align: center;
}

.artigo-grid-content {
    background-color: var(--home-bg);
    padding: 1.5rem 2rem;
    border-radius: 4rem;
    display: grid;
    grid-template-rows: repeat(3, 6em);
    place-content: center center;
    gap: 2rem;
    box-shadow: 0rem 1rem 2rem var(--black-color);
}

.artigo-grid-content .bi.bi-slack {
    font-size: 3rem;
    padding: 2rem;
    border: 0.2rem solid var(--black-color);
    border-radius: 50%;
    max-width: 10rem;
    margin: auto;
}

.artigo-grid-content .grid-write h2 {
    margin-bottom: 0.5rem;
}

.artigo-grid-content .grid-write p {
    margin-bottom: 2.5rem;
    line-height: 1.5;
}

.artigo-grid-content a {
    background-color: var(--terciary-color);
    box-shadow: 1rem 1rem 2rem var(--black-color);
    color: var(--white-color);
    font-weight: bold;
    text-decoration: none;
    max-height: 4rem;
    min-width: 80%;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    margin-top: 4rem;
    transition: all 0.4s ease-in-out;
}

.artigo-grid-content a:hover {
    background-color: #53c370;
}

footer {
    max-width: 100%;
    text-align: center;
    padding: 2rem 3rem;
    background-color: var(--black-color);
    color: var(--white-color);
}
